/* core styles  */
body {
    font-family: sans-serif;
    margin-top: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

.section-subtitle {
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #797979;
    text-transform: uppercase;
}

.blur-line {
    border-radius: 4px;
    display: inline-block;
    filter: blur(4px);
    vertical-align: middle;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    background-color: rgba(237, 35,159, 0.6);
}

.section-title {
    margin-top: 5px;
    font-weight: 700;
    font-size: 42px;
    text-transform: capitalize;
    color: #85364D;
}
.section-description {
    font-size: 14px;
    font-weight: 300;
    color: #797979;
    line-height: 27px;
}

.button {
    transition: background 2s;
    transition-timing-function: ease-out;
    border: none;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%,#1345e6 100%);
    background-size: 200% auto;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}
.button:hover {
    background-position:right center;
    background:linear-gradient(to left #1345e6 0%, #ed239f 51%,#1345e6 100%);
}
/* main-header styles */

.main-header {
    position:fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    z-index: 1;
}
.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand img {
    width: 64px;

}

.main-nav {
    display: inline-block;
    vertical-align: middle;
}
.main-nav__item {
    display: inline-block;
    padding: 10px;
}

.main-nav__item a {
    color: #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.main-nav__item a:hover {
    color: #efb6df;
}
.main-nav__item.active a {
    color: #efb6df ;
}
.to-uppercase {
    text-transform: uppercase;
}
.clearfix {
    clear: both;
}

/* Main section */
.main-banner {
    background: url(images/) no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
}
.main-section {
    padding: 100px 30px;
}

.main-section>div {
    width: 50%;
    float: left;
}
.main-section__image {
    text-align: right;
}
.main-section__image img {
    width: 500px;
}

.main-section__welcome {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #797979;
}
.main-section__introduction {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #05364e;
}
.main-section__position {
    color:#05364e ;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}
.main-section__social-networking a  {
    color: #8FA1AA;
    font-size: 20px;
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
}
.main-section__social-networking a i:hover {
    color: #1c44e4;
}
.main-section__action {
    margin-top: 30px;
    border: none;
    background-color: #1c44e4;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
}

/* Statistics section */
.statistics {
    padding-top: 100px;
}
.statistics-item {
    display: inline-block;
    background-color: #F8FAFF;
    text-align: center;
    padding: 5px 10px;
    margin-right: 30px;
    width: 150px;
}
.statistics-number {
    border-radius: 12px;
    font-size: 27px;
    margin-bottom: 5px;
    background:linear-gradient(#1345e6,#ed239f 100%)
}
.statistics-title {
    font-size: 16px;
    color: #797979;
    font-weight: 300;
}

/* about me  */
.about-me {
    padding: 100px 0;
}
.about-me__image img {
    width: 300px;
}
.about-me>div {
    width: 50%;
    float: left;
}

/* services section  */
.services {
    padding-top: 100px;
}

.services-card {
    background-color: #F8FAFF;
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    padding: 60px 30px;
    margin-right: 3%;
    text-align: center;
}
.services-card__title {
    color: #05364d;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.services-card__description {
    font-size: 14px;
    font-weight: 300;
    line-height: 27px;
    color: #797979;
}

.services-card__link {
    color: #85364D;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}
.services-card:hover {
    background-color: #5f30ff;
    transition-duration: 1.5s;
}
.services-card:hover .services-card__title,
.services-card:hover .services-card__description,
.services-card:hover .services-card__link {
    color: #FFFFFF;
}
/* Client section */
.clients {
    padding-top: 100px;
}
.client-items>div {
    box-sizing: border-box;
    float: left;
    width: 50%;
}
.client-item__image img {
    width: 400px;
}

.client-item__info {
    padding-top: 50px;
    padding-left: 50px;
}

.client-item__name {
    font-size: 20px;
    margin-bottom: 4px;
}

.client-item__position {
    font-size: 14px;
    font-weight: 300;
    color: #5b6d75;
}
.client-item__review {
    font-size: 14px;
    line-height: 27px;
    font-weight: 300px;
    color:#5b6d75 ;
}

.client-item__rate {
    color: #FFD885;
}

.client-item__rate .disabled {
    color: #AEB9BE;
}

/*Portfolio section */
.portfolio {
    padding: 100px 0;
}
.portfolio-filters {
    list-style: none;
    padding-left: 0;
}
.portfolio-filters li {
    display: inline-block;
    margin-right: 40px;
    margin-top: 50px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}
.portfolio-filters .active,.portfolio-filters li:hover {
    color: #1345e6;
}
.portfolio-items {
    position: relative;
    margin-top: 50px;
}
.portfolio-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
}
.portfolio-item1 {
    padding-left: 0;
}
.portfolio-item2 {
    position: absolute;
    right: 0;
    top: 0;
}
.portfolio-item3 {
    position: absolute;
    bottom: 0;
}
.portfolio-item img {
    width:550px
}

.portfolio-item2 img {
    width: 550px;
}
.portfolio-item3 img {
    width: 550px
}
.portfolio-item__overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 550px;
    background-color: rgba(19,69,230,0.9);
    visibility: hidden;
}

.portfolio-item__info {
    position: absolute;
    bottom: 44px;
    left: 88px;
    color: white;
    visibility: hidden;
}
.portfolio-item__info a {
    text-decoration: none;
}

.portfolio-item__info a:hover {
    color: white;
    text-decoration: none;
}

.portfolio-item:hover .portfolio-item__overlay {
    visibility: visible;
    top: 20px;
    left: 20px;
    transition-duration: 0.8s;
}
.portfolio-item:hover .portfolio-item__info {
    visibility: visible;
    bottom: 24px;
    left: 60px;
}

/* blog section  styles */

.blog {
    padding: 100px;
}

.blog-items {
    margin-top: 50px;
}
.blog-item {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box;
}
.blog-item:hover {
    box-shadow: 0px 10px 20px rgba(5, 54, 77 /10%);
}
.blog-item:hover .blog-item__info {
    background-color: white;
}
.blog-item__image img {
    width: 100%;
}
.blog-item__info {
    background-color: #F8FAFF;
    padding: 30px;
    color: #797979;
}
.blog-item__main-info span {
    font-size: 14px;
    margin-right: 30px;
    font-weight: lighter;
}
.blog-item__info i {
    margin-right: 5px;
    color: #797979;
}

.blog-item__title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #85364d;
    font-weight: 700;
}
.blog-item__description {
    line-height: 27px;
    font-weight:lighter;
    font-size: 15px;
}

.blog-item__action {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
    cursor: pointer;
}

.blog-item__action:hover {
    color: #85364d;
}
/* partners section */
.partners {
    padding-top: 10px;
}
.partner {
    display: inline-block;
    padding: 0 30px;
}
.partner img {
    width: 150px;
}
.partner2 img {
     padding-bottom: 20px;
}

@media only screen  and (max-width:767px) {
    .blog {
        padding-left: 0;
    }
    .blog-item__main-info>span {
        font-size: 25px;
    }
    .blog-item__title {
        font-size: 30px;
    }
    .blog-item__description {
        font-size: 25px;
    }
    .blog-item {
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .portfolio-filters>li {
        font-size: 20px;
    }
    .portfolio-item {
        position: inherit;
        width: 100%;
        display: block;
        margin-bottom: 40px;
    }
    .services-card__title {
        font-size: 30px;
    }
    .services-card__description {
        font-size: 25px;
    }
    .services-cards>div {
        width: 100%;
    }
    .about-me>div {
        width: 100%;
    }
    .about-me__image {
        display: none;
    }
    .statistics>.statistics-item {
        width:100%;
    }
      .main-section__action {
        display: none;
    }
    .main-section__image {
        display: none;
    }
    .main-section>div {
        width: 100%;
    }
}
